# Predicting Loan Paybacks

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


TRAIN_DATA = "train.csv"
TEST_DATA = "test.csv"

train_df = pd.read_csv(TRAIN_DATA)
test_df = pd.read_csv(TEST_DATA)

print(train_df.head())

   id  annual_income  debt_to_income_ratio  credit_score  loan_amount  \
0   0       29367.99                 0.084           736      2528.42
1   1       22108.02                 0.166           636      4593.10
2   2       49566.20                 0.097           694     17005.15
3   3       46858.25                 0.065           533      4682.48
4   4       25496.70                 0.053           665     12184.43

   interest_rate  gender marital_status education_level employment_status  \
0          13.67  Female         Single     High School     Self-employed
1          12.92    Male        Married        Master's          Employed
2           9.76    Male         Single     High School          Employed
3          16.10  Female         Single     High School          Employed
4          10.21    Male        Married     High School          Employed

         loan_purpose grade_subgrade  loan_paid_back
0               Other             C3             1.0
1  Debt consolidation             D3             0.0
2  Debt consolidation             C5             1.0
3  Debt consolidation             F1             1.0
4               Other             D1             1.0

In [ ]:
# Describe
train_df.describe()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,loan_paid_back
count,593994.000000,593994.000000,593994.000000,593994.000000,593994.000000,593994.000000,593994.000000
mean,296996.500000,48212.202976,0.120696,680.916009,15020.297629,12.356345,0.798820
std,171471.442236,26711.942078,0.068573,55.424956,6926.530568,2.008959,0.400883
min,0.000000,6002.430000,0.011000,395.000000,500.090000,3.200000,0.000000
25%,148498.250000,27934.400000,0.072000,646.000000,10279.620000,10.990000,1.000000
50%,296996.500000,46557.680000,0.096000,682.000000,15000.220000,12.370000,1.000000
75%,445494.750000,60981.320000,0.156000,719.000000,18858.580000,13.680000,1.000000
max,593993.000000,393381.740000,0.627000,849.000000,48959.950000,20.990000,1.000000

# Preprocessing
- Remove unnecessary columns
- Encode categorical values

In [ ]:
# Preprocessing
x = train_df.drop(["loan_paid_back"], axis=1)
y = train_df["loan_paid_back"]

In [ ]:
print(train_df["education_level"].unique())
print(train_df["education_level"].value_counts())

['High School' "Master's" "Bachelor's" 'PhD' 'Other']
education_level
Bachelor's     279606
High School    183592
Master's        93097
Other           26677
PhD             11022
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

print(train_df["education_level"].unique())
education_levels = [
  "High School",
  "Bachelor's",
  "Master's",
  "PhD",
  "Other"
]
print("Ordered Levels: ", education_levels)

ord_encoder = OrdinalEncoder(categories=[education_levels])
train_df["education_level_ordered"] = ord_encoder.fit_transform(train_df["education_level"].values.reshape(-1, 1))
print(train_df["education_level_ordered"].value_counts())

['High School' "Master's" "Bachelor's" 'PhD' 'Other']
education_level_ordered
1.0    279606
0.0    183592
2.0     93097
4.0     26677
3.0     11022
Name: count, dtype: int64